#encounterheader { background-color: #F5F5F5; font-size:50%;color:#006400;height:15%;width:100%;padding:2px}
#bpform { background-color:#F5FFFF;float: right;height:80%; width:100%;padding:2px font-size:6;}
#encounterfooter { background-color: #F5F5F5; font-size:40%;color:#006400; height:5%;width:100%;padding:2px}
