#header { background-color: #F5F5F5; font-size:50%;color:#006400;height:5%;width:100%;padding:2px}
#patients { background-color:#F5F5F5; color:#006400; height:80%; width:20%;padding:4px}
#dataarea { background-color:#3FB839;float: right;height:80%; width:79%;padding:2px}
#footer { background-color: #F5F5F5; font-size:40%;color:#006400; height:5%;width:100%;padding:2px}
