
{
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	color: #24451e;
	background-color: #eaeae5;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	vertical-align: middle;
	text-transform: none;
	text-align: center;
	text-indent: inherit;
	line-height: normal;
}
